.requirementText {
    text-decoration: none !important;
    line-height: 1.6;
    font-size: large !important;
    font-weight:bold !important;
}

.requirementText:hover,
.requirementText:focus {
    text-decoration: none !important;
    background: transparent !important;
}
